* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
}

.visual-text {
  padding: 20px;
}

main {
  margin: 50px auto;
  width: 840px;
}

.main1 {
  padding-bottom: 30px;
  border-bottom: solid 1px #d1d1d1;
  margin-bottom: 30px;
}

.main4 {
  padding-bottom: 30px;
  border-bottom: solid 1px #d1d1d1;
}
